<form [ngFormModel]="formModel" (submit)="onSubmit()">
    <h2>Zaloguj</h2>
    <input type="text" class="form-control" placeholder="Nazwa użytkownika" required="" autofocus="" [(ngModel)]="formModel.Login" />
    <input type="password" class="form-control" placeholder="Hasło" required="" [(ngModel)]="formModel.Password" />
    <div class="checkbox">
        <label>
            <input value="remember-me" type="checkbox" [(ngModel)]="formModel.RememberMe"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="submitPending">
        Zaloguj <span *ngIf="!submitPending" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </button>
</form>