<form [ngFormModel]="formModel" (submit)="onLogin($event)">
    <h2>Zaloguj</h2>
    <input ngControl="login" type="text" class="form-control" placeholder="Nazwa użytkownika" required="" autofocus="" />
    <input ngControl="password" type="password" class="form-control" placeholder="Hasło" required="" />
    <div class="checkbox">
        <label>
            <input value="remember-me" type="checkbox" [(ngModel)]="formModel.RememberMe"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="submitPending">
        Zaloguj <i *ngIf="submitPending" class="fa fa-cog fa-spin"></i>
    </button>
</form>