<form id="form_register">
    <h2>Zarejestruj</h2>
    <input type="text" class="form-control" placeholder="Imię i nazwisko" required="" [(ngModel)]="registerModel.FullName" />
    <input type="text" class="form-control" placeholder="Nazwa użytkownika" required="" [(ngModel)]="registerModel.UserName" />
    <input type="email" class="form-control" placeholder="Adres E-Mail" required="" [(ngModel)]="registerModel.Email" />
    <input type="password" class="form-control" placeholder="Hasło" required="" [(ngModel)]="registerModel.Password" />
    <input type="password" class="form-control" placeholder="Powtórz hasło" required="" [(ngModel)]="passwordConfirm" />
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!userRegistrationForm.form.valid">Zarejestruj</button>
</form>